<div *ngIf="!loggedIn">
  <mat-card>
   <h3>Login</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
    <mat-error>{{ loginErrorMsg }}</mat-error>
  </mat-card>
</div>
<div *ngIf="!loggedIn">
<mat-card>
  <h3>Register</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="First Name" name="firstName" [(ngModel)]="userToRegister.firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Last Name" name="lastName" [(ngModel)]="userToRegister.lastName" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="userToRegister.email" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="Strasse" name="address" [(ngModel)]="street">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="PLZ und Ort " name="address" [(ngModel)]="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="date" placeholder="Birthday" name="birthday" [(ngModel)]="userToRegister.birthday">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="tel" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="userToRegister.phoneNumber">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="nameToLogin" [(ngModel)]="userToRegister.username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="passwordToLogin" [(ngModel)]="userToRegister.password" required>
  </mat-form-field>

  <mat-error *ngIf="!passwordHasLength">
    Password must have at least 8 characters!
  </mat-error>
  <mat-error *ngIf="!passwordHasUpper">
    Password must have at least one capital letter!
  </mat-error>
  <mat-error *ngIf="!passwordHasLower">
    Password must have at least one small Letter!
  </mat-error>

  <mat-error *ngIf="!passwordHasSpecial">
    Password must have at least one of the following special characters: / + * ç % & ( ) = £ ! ? @
  </mat-error>

  <mat-error *ngIf="!passwordHasNumber">
    Password must have at least one number!
  </mat-error>


  <button mat-flat-button color="primary" (click)="registerUser()">Register</button>
 <mat-error>{{ registerErrorMsg }}</mat-error>
</mat-card>
</div>
