<mat-tab-group *ngIf="loggedIn">
  <mat-tab label="My Profile">
    <div>
      <mat-card>
      <button mat-flat-button color="warn" (click)="logoutUser()" style="position: center">Logout</button>
      </mat-card>
    </div>
    <mat-card>
    <button *ngIf="!editInfo" mat-button (click)="editInfo = true">Update Profile Information</button> <br>
    <div *ngIf="editInfo">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text"  [(ngModel)]="user.firstName" name="firstName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text"  [(ngModel)]="user.lastName" name="lastName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput type="text"  [(ngModel)]="street" name="street">
        </mat-form-field>
        <mat-form-field>
          <mat-label>PLZ Ort</mat-label>
          <input matInput type="text"  [(ngModel)]="city" name="city">
        </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" placeholder="Birthday" name="birthday" [(ngModel)]="userToRegister.birthday">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="tel" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="userToRegister.phoneNumber">
      </mat-form-field>
      <br>
        <button mat-button (click)="updateInfo()">Save</button>
     <mat-error> {{ updateErrorMsg }} </mat-error>
    </div>
      </mat-card>


  </mat-tab>
  <mat-tab *ngIf="!this.userService.isAdmin()" label="My Orders">
      <div *ngIf="orders.length==0">
        <h4>No orders</h4>
        <p>You can order items in the <a routerLink="/shop">Shop</a></p>
      </div>
      <div>
        <mat-card>
          <table>
            <tr>
              <th>Order Id</th>
              <th>Item</th>
              <th>Item Name</th>
              <th>Price</th>
              <th>Delivery Address</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>

            <tr *ngFor="let order of orders">
              <td>{{order.orderId}}</td>
              <td>{{order.product.productId}}</td>
              <td>{{order.product.title}}</td>
              <td>{{order.product.price}}</td>
              <td><div *ngFor="let add of order.address.split(';')">{{add}}</div></td>
              <td>{{order.deliveryStatus}}</td>
              <td><button mat-flat-button *ngIf="order.deliveryStatus === 'pending'" (click)="cancelOrder(order.orderId)">CANCEL ORDER</button>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
  </mat-tab>
</mat-tab-group>
<div *ngIf="!loggedIn">
  <mat-card>
   <h3>Login</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
    <mat-error>{{ loginErrorMsg }}</mat-error>
  </mat-card>
</div>
<div *ngIf="!loggedIn">
<mat-card>
  <h3>Register</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="First Name" name="firstName" [(ngModel)]="userToRegister.firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Last Name" name="lastName" [(ngModel)]="userToRegister.lastName" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="userToRegister.email" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="Strasse" name="address" [(ngModel)]="street">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="PLZ und Ort " name="address" [(ngModel)]="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="date" placeholder="Birthday" name="birthday" [(ngModel)]="userToRegister.birthday">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="tel" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="userToRegister.phoneNumber">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToRegister.username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password" required>
  </mat-form-field>

  <mat-error *ngIf="!passwordHasLength">
    Password must have at least 8 characters!
  </mat-error>
  <mat-error *ngIf="!passwordHasUpper">
    Password must have at least one capital letter!
  </mat-error>
  <mat-error *ngIf="!passwordHasLower">
    Password must have at least one small Letter!
  </mat-error>

  <mat-error *ngIf="!passwordHasSpecial">
    Password must have at least one of the following special characters: / + * ç % & ( ) = £ ! ? @
  </mat-error>

  <mat-error *ngIf="!passwordHasNumber">
    Password must have at least one number!
  </mat-error>


  <button mat-flat-button color="primary" (click)="registerUser()">Register</button>
 <mat-error>{{ registerErrorMsg }}</mat-error>
</mat-card>
</div>

