<div *ngIf="!confirmation">
  <mat-card>
  <mat-card-title>Checkout</mat-card-title>
  <button mat-flat-button class="close" [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
  <br>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput type="text"  [(ngModel)]="firstName" name="firstName" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text"  [(ngModel)]="lastName" name="lastName" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput type="text"  [(ngModel)]="street" name="street" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>PLZ Ort</mat-label>
    <input matInput type="text"  [(ngModel)]="city" name="city" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Payment Method</mat-label>
  <select matNativeControl required>
    <option value="0">Payment via invoice</option>
  </select>
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" (click)="confirmation = true">BUY NOW</button>
  <mat-error *ngIf="invalid">Fill all required fields!</mat-error>
  </mat-card>
</div>
<div *ngIf="confirmation">
<mat-card >
  <mat-card-title>
    Buy now?
  </mat-card-title>
  <mat-card-content>
    Do you want to order 1 {{data.product.title}} now?
    Amount due: {{data.product.price}} CHF
  </mat-card-content>
  <button mat-flat-button (click)="makeOrder()" class="buyNow" color="primary">BUY NOW</button>
  <button mat-flat-button [mat-dialog-close]="true" class="buyNow">Cancel</button>
</mat-card>
</div>
