<div *ngIf="!confirmation">
  <mat-card>
  <mat-card-title>Checkout</mat-card-title>
  <button mat-flat-button class="close" [mat-dialog-close]="true">X</button>
  <br>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput type="text"  [(ngModel)]="firstName" name="firstName" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text"  [(ngModel)]="lastName" name="lastName" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput type="text"  [(ngModel)]="street" name="street" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>PLZ Ort</mat-label>
    <input matInput type="text"  [(ngModel)]="city" name="city" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Payment Method</mat-label>
  <select matNativeControl required>
    <option value="0">Payment via invoice</option>
  </select>
  </mat-form-field>
  <br>
  <button mat-flat-button (click)="makeOrder()">BUY NOW</button>
  <mat-error *ngIf="invalid">Fill all required fields!</mat-error>
  </mat-card>
</div>
<div *ngIf="confirmation">
<button mat-flat-button class="close" [mat-dialog-close]="true">X</button>
<mat-card >
  <mat-card-title>
    Congratulations on your order!
  </mat-card-title>
  <mat-card-content>All orders are visible in you user profile</mat-card-content>
</mat-card>
</div>
