body {
  margin-left: 30px !important;
  margin-right: 30px !important;
  background-color: #fed200;
  color:black;
}

.mat-toolbar {
  background-color: black;
  color: #fed200;
}

mat-ink-bar{
  background-color:black !important;
}

.mat-card{
  margin: 20px 0;
  background-color: #ddd !important;
}

button{
  background-color: #fed200 !important;
  color:black !important;
}

input, textarea{
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-icon-button{
  background-color: transparent !important;
}

.dropdown{
  background-color: white !important;
}
.dropdown:hover{
  background-color: #dddddd !important;
}

.preview{
  width: 20%;
}

.mat-chip{
  background-color: #fed200 !important;
}

.bigScreen{
  margin-left: 15% !important;
  margin-right: 15% !important;
}

#mat-select-value-1 > span > span{
  display: none !important;
}
