:root {
  --me-colorGrey: #ddd;
  --me-colorYellow: #fed200;
  --me-colorBlack: black;

}
body {
  margin-left: 30px !important;
  margin-right: 30px !important;
 /* background-color: var(--me-colorYellow);
  color:var(--me-colorBlack);*/
}

.mat-toolbar {
 /* background-color: var(--me-colorBlack);
  color: var(--me-colorYellow);*/
}

mat-ink-bar{
  background-color:var(--me-colorBlack) !important;
}

.mat-card{
  margin: 20px 0;
  background-color: var(--me-colorGrey) !important;
}

button{
/*  background-color: var(--me-colorYellow) !important;
  color:var(--me-colorBlack) !important;*/
}

input, textarea{
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-icon-button{
  background-color: transparent !important;
}

.dropdown{
  background-color: white !important;
}
.dropdown:hover{
  background-color: var(--me-colorGrey) !important;
}

.preview{
  width: 20%;
}

.mat-chip{
  background-color: var(--me-colorYellow) !important;
}

.bigScreen{
  margin-left: 15% !important;
  margin-right: 15% !important;
}
