
<mat-card *ngIf="post != undefined && !editMode" >
  <button mat-icon-button *ngIf="canEdit" class="edit" [matMenuTriggerFor]="edit" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
    <mat-icon>settings</mat-icon></button>
  <mat-menu #edit="matMenu">
    <button mat-menu-item class="dropdown" (click)="editPost()">
      <span>Edit Post</span>
    </button>
    <button mat-menu-item class="dropdown" (click)="deletePost()">
      <span>Delete Post</span>
    </button>
  </mat-menu>

  <div class="likeButtons" *ngIf="canVote">
  <button *ngIf="!upvoted" class="unclicked" [disabled]="downvoted" (click)="upvote()"  > &#8679;</button>
  <button *ngIf="upvoted" class="clicked" (click)="revertUpvote()"> &#8679;</button>
    {{post.votes}}
  <button *ngIf="!downvoted" class="unclicked" [disabled]="upvoted" (click)="downvote()">&#8681;</button>
  <button *ngIf="downvoted" class="clicked" (click)="revertDownvote()">&#8681;</button>
  </div>
  <div *ngIf="!canVote">
    <button mat-fab [matTooltip]= "this.userService.isAdmin() ? 'admins can\'t vote' : 'log in to vote'" > score: {{post.votes}}</button>
  </div>
<div class="postContent">
  <mat-card-title>{{post.title}}  </mat-card-title>
    <mat-chip-list>
      <mat-chip>{{categoryName}}</mat-chip>
    </mat-chip-list>
  <mat-card-content *ngIf="!collapse">
    {{post.content}} <br>
    <div *ngIf="post.itemImage">
    <img class="imagePost" src="{{img}}" alt="post image">
    </div>
    <div *ngIf="uncollapse">
      <button mat-icon-button  (click)="(collapse=!collapse) && (uncollapse = false)"><mat-icon>expand_less</mat-icon></button>
    </div>
  </mat-card-content>
  <div *ngIf="collapse">
  <mat-card-content >
    {{preview}}
      <button mat-icon-button (click)="collapse=!collapse; uncollapse=true"><mat-icon>expand_more</mat-icon></button>
  </mat-card-content>
  </div>
</div>
</mat-card>
<mat-card *ngIf="editMode">
  <button mat-flat-button class="close" (click)="discardEdits()">Discard</button>
  <br>
  <mat-form-field appearance="fill" style="width: 60%;">
    <input matInput type="text" placeholder= {{post.title}} name="title" [(ngModel)]="post.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select required [(ngModel)]="post.categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.postCategoryId"  > {{category.postCategoryName}} </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" style="width: 100%; height: 40%">
    <textarea matInput placeholder={{post.content}} style="width: 100%" rows="10" name="content" [(ngModel)]="post.content"></textarea>
  </mat-form-field>
  <button mat-button (click)="updatePost()">Update Post</button>
</mat-card>
