<mat-card *ngIf="post != undefined && !editMode">
  <button mat-icon-button *ngIf="canEdit" class="edit" [matMenuTriggerFor]="edit" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
    <mat-icon>settings</mat-icon></button>
  <mat-menu #edit="matMenu">
    <button mat-menu-item class="dropdown" (click)="editMode=true">
      <span>Edit Post</span>
    </button>
    <button mat-menu-item class="dropdown" (click)="deletePost()">
      <span>Delete Post</span>
    </button>
  </mat-menu>
  <div *ngIf="profileView">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-content>{{post.content.substr(0,50)}}</mat-card-content>
  </div>
  <div *ngIf="!profileView">
  <div class="likeButtons" *ngIf="canVote && !profileView">
  <button *ngIf="!upvoted" class="unclicked" [disabled]="downvoted" (click)="upvote()"  > &#8679;</button>
  <button *ngIf="upvoted" class="clicked" (click)="revertUpvote()"> &#8679;</button>
    {{post.votes}}
  <button *ngIf="!downvoted" class="unclicked" [disabled]="upvoted" (click)="downvote()">&#8681;</button>
  <button *ngIf="downvoted" class="clicked" (click)="revertDownvote()">&#8681;</button>
  </div>
  <div *ngIf="!canVote">
    <button mat-fab color="primary" [matTooltip]= "this.userService.isAdmin() ? 'admins can\'t vote' : 'log in to vote'" (click)="!loggedIn && router.navigate(['/user'])"> score: {{post.votes}}</button>
  </div>

<div class="postContent">
  <mat-card-title>{{post.title}}  </mat-card-title>
    <mat-chip-list>
      <mat-chip (click)="selectSortCategory()">{{categoryName}}</mat-chip>
    </mat-chip-list>

    <mat-card-content>
      <div *ngIf="!collapse"> <!-- regular post that doesn't collapse -->
        {{post.content}} <br>
        <div *ngIf="post.itemImage">
          <img class="imagePost" src="{{img}}" alt="post image">
        </div>
      </div>
      <div *ngIf="collapse&&!uncollapse"> <!-- long post collapsed (only show preview and image if available)-->
      {{preview}}
      <button mat-icon-button (click)="uncollapse=true"><mat-icon>expand_more</mat-icon></button>
        <div *ngIf="post.itemImage">
          <img class="imagePost" src="{{img}}" alt="post image">
        </div>
      </div>
      <div *ngIf="uncollapse"> <!-- show full long post-->
        {{post.content}}
          <button mat-icon-button  (click)="uncollapse = false"><mat-icon>expand_less</mat-icon></button>
        <div *ngIf="post.itemImage">
          <img class="imagePost" src="{{img}}" alt="post image">
        </div>
      </div>
      </mat-card-content>
</div>
  <mat-card-footer fxHide.lt-md="true">
    Created on {{post.date.toString().substr(0,10)}} by {{creator}}
   </mat-card-footer>
  </div>
</mat-card>


<mat-card *ngIf="editMode">
  <mat-form-field color="accent" appearance="fill" style="width: 60%;">
    <input matInput type="text" placeholder= {{post.title}} name="title" [(ngModel)]="post.title">
  </mat-form-field>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select required [(ngModel)]="post.categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.postCategoryId"> {{category.postCategoryName}} </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field color="accent" appearance="outline" style="width: 100%; height: 40%">
    <textarea matInput maxlength="1000" placeholder={{post.content}} style="width: 100%" rows="10" name="content" [(ngModel)]="post.content"></textarea>
    <div *ngIf="!post.itemImage">
      <input
        class="imageUpload"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
      <button mat-icon-button (click)="addPicture=true; fileInput.click()"><mat-icon>image</mat-icon> upload image </button>
    </div>
  </mat-form-field>
  <div *ngIf="post.itemImage">
    <button mat-icon-button [matMenuTriggerFor]="imageOptions" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()"><mat-icon>cancel</mat-icon></button>
    <mat-menu #imageOptions="matMenu">
      <button mat-menu-item class="dropdown" (click)="removeImage = true; post.itemImage = false; imgPreview=''">
        <span>Delete image from post</span>
      </button>
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
      <button mat-menu-item class="dropdown" (click)="newPicture = true; fileInput.click()">
        <span>Upload different image</span>
      </button>
    </mat-menu>
    <br>
  </div>
  <div *ngIf="imgPreview!=''">
    <img class="preview" src="{{imgPreview}}" alt="post image">
  </div>
  <mat-error>{{errorMsg}}</mat-error>
  <button mat-flat-button color="primary" class="editButtons" (click)="updatePost()">Update Post</button>
  <button mat-flat-button class="editButtons" (click)="discardEdits()">Discard Changes</button>
</mat-card>
