.edit{
  padding: 2px;
  right: 1%;
  top:2%;
  position: absolute;
  z-index: 1;
}

.dropdown{
  background-color: white !important;
}
.dropdown:hover{
  background-color: #dddddd !important;
}

.clicked{
  background-color: #8a7200 !important;
}

.postContent{
  padding-left: 20%;
}

.likeButtons{
  position: relative;
}

.imagePost{
  max-width: 80%;
  max-height: 60%;
  border-radius: 5px;
}

.mat-chip{
  background-color: #fed200;
}
