:root {
  --me-colorGrey: #dddddd;
  --me-colorYellow: #fed200;

}
.edit{
  padding: 2px;
  right: 1%;
  top:2%;
  position: absolute;
  z-index: 1;
}

.dropdown{
  background-color: white !important;
}
.dropdown:hover{
  background-color: var(--me-colorGrey) !important;
}

.clicked{
  background-color: var(--me-colorYellow) !important;
}

.unclicked{
  background-color: var(--me-colorGrey) !important;
}

.postContent{
  padding-left: 20%;
}

.likeButtons{
  position: relative;
}

.imagePost{
  max-width: 60%;
  max-height: 40%;
  border-radius: 5px;
}

.close{
  padding: 2px;
  right: 1%;
  top:2%;
  position: absolute;
}
