<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
      Manage post categories
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <h3>Create a new post category</h3>
      <mat-form-field>
        <input matInput placeholder="New PostCategory Name" [(ngModel)]="newCategory">
      </mat-form-field>
      <button mat-flat-button (click)="createCategory()">Create New PostCategory</button>
      <br>{{createFeedback}}
      <h3>Delete an existing post category:</h3>
      <mat-form-field appearance="fill">
        <mat-label>Select PostCategory</mat-label>
        <mat-select  [(ngModel)]="oldCategory">
          <mat-option *ngFor="let category of categories" [value]="category" > {{category.postCategoryName}} </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="deleteCategory()">Delete PostCategory</button>
      <br>{{deleteFeedback}}
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Manage shop</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      Add a new product to the shop <br>
      <mat-form-field appearance="fill" style="width: 60%;">
        <input matInput type="text" placeholder="product title" name="title" [(ngModel)]="newProduct.title">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 60%;">
        <mat-label>price</mat-label>
        <input matInput type="number" name="price" [(ngModel)]="newProduct.price">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" style="width: 100%; height: 40%">
      <textarea matInput placeholder="product description" style="width: 100%" rows="10" name="description" [(ngModel)]="newProduct.description">
      </textarea>
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button mat-icon-button class="upload" (click)="fileInput.click()"><mat-icon>image</mat-icon> upload image </button>
        <div>
          <img src="{{preview}}" class="preview">
        </div>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button (click)="createProduct()">Publish Product</button>
    </mat-card>
    <mat-card >
      <h3>Delete an existing shop item</h3>
      <mat-form-field appearance="fill">
        <mat-label>Select Item</mat-label>
        <mat-select [(ngModel)]="toDelete">
          <mat-option *ngFor="let product of products" [value]="product" > {{product.productId}} - {{product.title}} </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="deleteItem()">Delete Item</button>
      <br>{{deleteFeedback}}
    </mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Manage orders
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
