
<mat-tab-group *ngIf="userService.isAdmin()">
  <mat-tab label="Manage post categories">
    <mat-card>
      <h3>Create a new post category</h3>
      <mat-form-field>
        <input matInput placeholder="New PostCategory Name" [(ngModel)]="newPostCategory">
      </mat-form-field>
      <button mat-flat-button (click)="createPostCategory()">Create New PostCategory</button>
      <br>{{postCategoryCreateMsg}}
      <h3>Delete an existing post category:</h3>
      <mat-form-field appearance="fill">
        <mat-label>Select PostCategory</mat-label>
        <mat-select  [(ngModel)]="oldPostCategory">
          <mat-option *ngFor="let category of postCategories" [value]="category" > {{category.postCategoryName}} </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="deletePostCategory()">Delete PostCategory</button>
      <br>{{postCategoryDeleteMsg}}
    </mat-card>
  </mat-tab>
  <mat-tab label="Manage shop">
    <mat-card>
      Add a new product to the shop <br>
      <mat-form-field appearance="fill" style="width: 60%;">
        <input matInput type="text" placeholder="product title" name="title" [(ngModel)]="newProduct.title">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 60%">
        <mat-label>Select Category</mat-label>
        <mat-select required [(ngModel)]="shopCategory">
          <mat-option *ngFor="let shopCategory of shopCategories" [value]="shopCategory"  > {{shopCategory.shopCategoryName}} </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="width: 60%;">
        <mat-label>price</mat-label>
        <input matInput type="number" name="price" [(ngModel)]="newProduct.price">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" style="width: 100%; height: 40%">
        <textarea matInput placeholder="product description" style="width: 100%" rows="10" name="description" [(ngModel)]="newProduct.description">
        </textarea>
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button mat-icon-button class="upload" (click)="fileInput.click()"><mat-icon>image</mat-icon> upload image </button>
        <div *ngIf="preview!=null">
          <img src="{{preview}}" class="preview" alt="upload preview">
        </div>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button (click)="createProduct()">Publish Product</button>
    </mat-card>
    <mat-card >
      <h3>Delete an existing shop item</h3>
      <mat-form-field appearance="fill">
        <mat-label>Select Item</mat-label>
        <mat-select [(ngModel)]="toDelete">
          <mat-option *ngFor="let product of products" [value]="product" > {{product.productId}} - {{product.title}} </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="deleteItem()">Delete Item</button>
      <br>{{itemDeleteMsg}}
    </mat-card>
    <mat-card>
      <h3>Create a new shop category</h3>
      <mat-form-field>
        <input matInput placeholder="New ShopCategory Name" [(ngModel)]="newShopCategory">
      </mat-form-field>
      <button mat-flat-button (click)="createShopCategory()">Create New ShopCategory</button>
      <br>{{shopCategoryCreateMsg}}
      <h3>Delete an existing shop category:</h3>
      <mat-form-field appearance="fill">
        <mat-label>Select ShopCategory</mat-label>
        <mat-select  [(ngModel)]="oldShopCategory">
          <mat-option *ngFor="let category of shopCategories" [value]="category" > {{category.shopCategoryName}} </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="deleteShopCategory()">Delete PostCategory</button>
      <br>{{shopCategoryDeleteMsg}}
    </mat-card>
  </mat-tab>

  <mat-tab label="Manage orders">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          All Orders
        </mat-expansion-panel-header>
        <div *ngIf="orders.length==0">Currently no open orders</div>
        <mat-card>
        <table *ngIf="orders.length>0" matSort (matSortChange)="sortData($event, orders, 'all')">
          <tr>
            <th mat-sort-header="orderId">Order Id</th>
            <th mat-sort-header="name">Name</th>
            <th mat-sort-header="address">Delivery Address</th>
            <th mat-sort-header="productId">Product Id - Name</th>
            <th mat-sort-header="deliveryStatus">Status</th>
            <th> Actions</th>
          </tr>

          <tr *ngFor="let order of orders">
            <td>{{order.orderId}}</td>
            <td>{{order.lastName}}, {{order.firstName}}</td>
            <td><div *ngFor="let add of order.address.split(';')">{{add}}</div></td>
            <td>{{order.product.productId}} - {{order.product.title}}</td>
            <td>{{order.deliveryStatus}}</td>
            <td> <button *ngIf="(order.deliveryStatus == 'pending')" mat-flat-button (click)="shipOrder(order.orderId)">Send order</button></td>
          </tr>
        </table>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Pending Orders</mat-expansion-panel-header>
        <mat-card>
          <div *ngIf="toDoOrders.length==0">Currently no open orders</div>
          <table *ngIf="toDoOrders.length>0" matSort (matSortChange)="sortData($event, toDoOrders, 'toDo')">
            <tr>
              <th mat-sort-header="orderId">Order Id</th>
              <th mat-sort-header="name">Name</th>
              <th mat-sort-header="address">Delivery Address</th>
              <th mat-sort-header="productId">Product Id - Name</th>
              <th mat-sort-header="deliveryStatus">Status</th>
              <th> Actions</th>
            </tr>

            <tr *ngFor="let order of toDoOrders;"  >
              <td>{{order.lastName}}, {{order.firstName}}</td>
              <td><div *ngFor="let add of order.address.split(';')">{{add}}</div></td>
              <td>{{order.product.productId}}</td>
              <td>{{order.deliveryStatus}}</td>
              <td> <button mat-flat-button (click)="shipOrder(order.orderId)">Send order</button></td>
            </tr>
          </table>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Completed/Cancelled Orders
        </mat-expansion-panel-header>
        <mat-card>
          <div *ngIf="doneOrders.length==0">
            Currently no completed/cancelled orders
          </div>
          <table *ngIf="doneOrders.length>0" matSort (matSortChange)="sortData($event, doneOrders, 'done')">
            <tr>
              <th mat-sort-header="orderId">Order Id</th>
              <th mat-sort-header="name">Name</th>
              <th mat-sort-header="address">Delivery Address</th>
              <th mat-sort-header="productId">Product Id - Name</th>
              <th mat-sort-header="deliveryStatus">Status</th>
            </tr>

            <tr *ngFor="let order of doneOrders">
              <td>{{order.orderId}}</td>
              <td>{{order.lastName}}, {{order.firstName}}</td>
              <td><div *ngFor="let add of order.address.split(';')">{{add}}</div></td>
              <td>{{order.product.productId}}</td>
              <td>{{order.deliveryStatus}}</td>
            </tr>
          </table>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
