.postButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  padding-left: 10%;
  padding-right: 10%;
}

.close{
  padding: 2px;
  right: 1%;
  top:2%;
  position: absolute;
  background-color: transparent;
}
.upload{
  padding-left: 0;
  padding-right: 0;
  right: 0 !important;
  background-color: #dddddd !important;
}

.selectCategory ::ng-deep.mat-select-value-text{
  display: none;
}

.loadMore{
  width: 100%;
}

.imageUpload{
  display: none;
}
.mat-icon-button{
  padding: 0;
}
