<div>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side" opened position="end" [fxHide.lt-sm]="hideOnSm">
      <nav mat-tab-nav-bar *ngIf="userService.isAdmin()">
        <a mat-tab-link routerLink="./admin">Admin Tab</a>
      </nav>
      <nav mat-tab-nav-bar fxLayout="row" *ngIf="!userService.isAdmin()">
        <a mat-tab-link (click)="editInfo = false; router.navigate(['profile'])">My posts</a> <br>
      </nav>
      <nav mat-tab-nav-bar fxLayout="row">
      <a mat-tab-link (click)="editInfo = true; router.navigate(['profile'])">Update Profile Information</a> <br>
        <button type="button" mat-icon-button (click)="hideOnSm = !hideOnSm" fxHide.gt-xs="true">
          <mat-icon>close</mat-icon>
        </button>
      </nav>
      <nav mat-tab-nav-bar *ngIf="!userService.isAdmin()">
        <a mat-tab-link [routerLink]="['./orders', user.userId]">Orders</a>
      </nav>
      <nav mat-tab-nav-bar>
        <a mat-tab-link (click)="userComponent.logoutUser()"><mat-icon>exit_to_app</mat-icon>  Log out</a>
      </nav>
    </mat-drawer>

    <mat-drawer-content>
      <button *ngIf="hideOnSm" type="button" mat-icon-button (click)="hideOnSm = !hideOnSm" fxHide.gt-xs="true" id="menuButton">
        <mat-icon>menu</mat-icon>
      </button>
     <h3>Hello {{user.username}} !</h3>
        <div *ngIf="router.url=='/profile' && !editInfo && !userService.isAdmin()">
          <div *ngIf="userPosts.length ==0 ">
            You have not made any posts yet! Use the Create Post button on the <a routerLink="/home">Home Page</a> to create your first post.
          </div>
          <app-post
          *ngFor="let post of userPosts"
          [post]="post"
          (getNewPosts)="getUserPosts()"
          [profileView] = true
          ></app-post>
        </div>
        <div *ngIf="editInfo && router.url=='/profile'" >
          <mat-card class="userPosts">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text"  [(ngModel)]="user.firstName" name="firstName" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text"  [(ngModel)]="user.lastName" name="lastName" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput type="text"  [(ngModel)]="street" name="street">
          </mat-form-field>
          <mat-form-field>
            <mat-label>PLZ Ort</mat-label>
            <input matInput type="text"  [(ngModel)]="city" name="city">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="date" placeholder="Birthday" name="birthday" [(ngModel)]="user.birthday">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="tel" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="user.phoneNumber">
          </mat-form-field>
          <br>
          <button mat-flat-button color="primary" (click)="updateInfo()">Save</button>
          <mat-error> {{ updateErrorMsg }} </mat-error>
          </mat-card>
        </div>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
